* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

.faq-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px; 
  margin: 50px auto;
  padding: 0 5%;
}

.faq-left {
  flex: 1;
}

.faq-title {
  line-height: 1.1;
  color: var(--orange);
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 25px;
}

.illustration-box {
  border: 2px solid var(--orange);
  border-radius: 16px;
  height: 230px;
  width: 95%;
  margin-top: 100px;
}

.faq-right {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-card {
  background-color: var(--orange);
  color: #ffffff;
  padding: 18px 22px;
  border-radius: 16px;
}

.faq-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.faq-card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

/* Penyesuaian untuk HP */
@media (max-width: 768px) {
  .faq-container {
    flex-direction: column;
    margin: 30px auto;
  }

  .navli {
    display: none;
  }

  .hambuger {
    display: block;
  }
}
